*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-size: 25px;
}

section{
    max-width: 2000px;
    margin: auto;
}

p{
    margin: 0;
}

@media (max-width: 500px) {
    .left-section{
        display: none;
    }
    .nav-bar{
        display: block;
        max-width: 400px;
        margin: auto;
    }
    .logo{
        display: none;
    }
    section{
        max-width: 400px;
        margin: auto;
    }
    svg{
        height: 100vh;
    }
    .building-card{
        width: 75vw;
        margin: auto;
    }
    #search-bar{
        height: 40px;
    }
}

@media (max-width: 700px) {
    svg{
        height: 100vh;
    }
    .building-card{
        width: 90vw;
        margin: auto;
    }
}

