header{
    position: fixed;
    left: 0;
    right: 0;
    top: 30px;
    z-index: 1;
}

.nav-bar{
    display: flex;
    max-width: 1500px;
    margin: auto;
    padding: 20px;
}

/*right section*/
.search-bar-container{
    display: flex;
    position: relative
}
#search-bar{
    flex: 1;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 55px;
    box-shadow: 1px 1px 3px darkgray;
    font-size: 18px;
    min-width: 0px;
}
#search-bar:focus{
    outline: none;
}
#search-btn, .delete-icon-btn{
    position: absolute;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    top: 6px;
    right: 40px;
    cursor: pointer;
}
.search-icon, .delete-icon{
    width: 60%;
}

.delete-icon-btn{
    right: 6px;
    top: 4px;
}


.search-bar-container:hover > .tooltip{
    opacity: 1;
}

.tooltip{
    opacity: 0;
    position: absolute;
    background-color: white;
    white-space: nowrap;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    bottom: -50px;
    right: 80px;
    transition: opacity 0.5s;
    pointer-events: none;
}



