.building-card{
    position: fixed;
    width: 600px;
    border: 1px solid transparent;
    box-shadow: 0px 0px 5px gray;
    border-radius: 10px;
    background-color: rgb(254, 244, 228);
    top: 10px;
    left: 20px;
    bottom: 10px;
    font-size: 28px;
    overflow-y: scroll;
}

.img-container{
    position: relative;
}
.building-img{
    width: 100%;
    height: 80%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: contain;
    margin-bottom: 0;
}

.building-info p{
    margin-left: 10px;
    line-height: 30px;
}

.building-info p .tel{
    text-decoration: none;
    color: black;
}

.map-wrapper{
    display: flex;
    align-items: center;
}

.building-info div{
    display: flex;
    align-items: center;
    height: fit-content;;
    padding: 10px 5px;
}

.building-info img{
   width: 40px;
}

.building-info div:hover{
    background-color: rgb(156, 156, 156);
}

#school-field:hover{
    cursor: pointer;
}



