.location-card{
    position: fixed;
    width: 600px;
    border: 1px solid transparent;
    box-shadow: 0px 0px 5px gray;
    border-radius: 10px;
    background-color: gainsboro;
    top: 110px;
    left: 20px;
    bottom: 20px;
    font-size: 28px;
    overflow-y: scroll;
}

.img-container{
    position: relative;
}
.location-img{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: contain;
    margin-bottom: 0;
}

.location-info p{
    margin-left: 10px;
    line-height: 20px;
}

.location-info p .tel{
    text-decoration: none;
    color: black;
}


.delete-icon-btn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 4px;
    top: 4px;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
}
.delete-icon{
    width: 65%;
}
.map-wrapper{
    display: flex;
    align-items: center;
}

figure .location-info div{
    display: flex;
    align-items: center;
    margin: 10px;
    height: 80px;
    padding: 10px;
}

.location-info img{
   width: 40px;
}

.location-info div:hover{
    background-color: rgb(156, 156, 156);
}
